.call-to-action {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/5.jpg);
    background-size: cover;
    background-position: center;
}

.call-to-action .btn-navigate {
    top: 2490px;
}

.call-to-action .title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-light);
    text-align: center;
    word-spacing: 12px;
}

.call-to-action .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content .subscribe {
    display: flex;
    gap: 10px;
}

.subscribe .input-subscribe {
    background-color: var(--bg-color-light);
    width: 300px;
    height: 30px;
    padding: 0 10px;
    border: none;
}

.btn-subscribe {
    background-color: var(--bg-color-primary);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-subscribe .send-img {
    width: 27px;
    height: 27px;
    object-fit: cover;
    padding: 7px;
    box-sizing: border-box;
}

.btn-subscribe:hover {
    background-color: var(--bg-color-hover);
}

