.services-area {
    background-color: var(--bg-color-secondary);
}

.services-area .btn-navigate {
    top: 1540px;
}

.services-area .title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    text-align: center;
    margin-block: 50px;
}
.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 50px 70px;
}