/* Custom variables, Custom properties */
:root {
  /* Colors */
  --primary: #80b636;
  --secondary: #f4f9ff;
  --light: #fff;
  --dark: #000000;

  --text-color-primary: var(--primary);
  --text-color-light: var(--light);
  --text-color-dark: var(--dark);

  --bg-color-primary: var(--primary);
  --bg-color-secondary: var(--secondary);
  --bg-color-light: var(--light);
  --bg-color-dark: var(--dark);

  /* hover */
  --bg-color-hover:#9dee2b;
  --text-color-hover:#E61A1A;

  /* font-family */
  --font-family: "Barlow", sans-serif;

  /* font-size */
  --font-size-sm: 18px;
  --font-size-md: 35px;
  --font-size-lg: 40px;
  --font-size-xl: 60px;

  /* font-weight*/
  --font-weight-light: 400; 
  --font-weight-normal: 500;
  --font-weight-bold: 600;
   
}
