.section__heading {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    padding: 20px;
}

.section__heading, .welcome__description {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}