.copy-right {
    background-color: var(--bg-color-dark);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right .btn-navigate {
    top: 2867px;
}

.copy-right .copy-right-content {
    color: var(--text-color-light);
}