.services-area {
    background-color: rgb(244, 248, 255);
}

.services-area .title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-block: 50px;
}
.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 50px 60px;
}