.slider {
    width: 100%;
    height: 545px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/1.jpg);
    background-size: cover;
    background-position: center;
}

.slider .content {
    margin-inline: auto;
    max-width: 550px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slider .content .title {
    font-size: 60px;
    font-weight: bold;
}

.slider .content .sub-title {
    letter-spacing: 8px;
}

.slider .content .description {
    line-height: 28px;
}
