/* Custom variables, Custom properties */
:root {
  /* Colors */
  --primary: #4e2a84;
  --secondary: #ff0e83;

  --light: #fff;
  --dark: #000000;

  --text-color-primary: var(--primary);
  --text-color-secondary: var(--secondary);
  --text-color-third: #c1c1c1;

  --text-color-light: var(--light);
  --text-color-dark: var(--dark);

  --bg-color-primary: var(--primary);
  --bg-color-secondary: var(--secondary);
  --bg-color-third: #000000c9;
  --bg-color-fourth: #ed6498;
  --bg-color-fifth: #836eaa;
  --bg-color-light: var(--light);
  --bg-color-dark: var(--dark);

  --bg-color-hover: #000000db;

  /* font-family */
  --font-family: "Barlow", sans-serif;

  /* font-size */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 34px;
  --font-size-lg: 50px;

  /* font-weight*/
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-black: 900;
}
