.nav {
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 45px;
    padding-bottom: 8px;
    width: 1349px;
    box-sizing: border-box;
}

.menu-list {
    width: 430px;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu-item a {
    color: var(--text-color-da);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
    text-decoration: none;
}

.menu-item:hover > a {
    color: var(--text-color-hover);
}

.social {
    display: flex;
    align-items: center;
    gap: 12px;
}

.google-plus-img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.linkedin-img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.twitter-img {
    width: 26px;
    height: 26px;
    object-fit: cover;
}

.facebook-img {
    width: 28px;
    height: 28px;
    object-fit: cover;
}
