.works__content {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 50px 50px 50px;
    display: grid;
    gap: 10px;
}

.works__item {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
