.menu-list {
    background-color: black;
    padding: 0;
    margin: 5px 0px;
    list-style: none;
    display: flex;
    gap: 30px;
}
.menu-list .menu-item a {
    color: white;
    text-decoration: none;
    padding-inline: 15px;
    text-transform: uppercase;
    line-height: 35px;
}

.menu-list .menu-item:hover {
    background-color: #939090;
}

.menu-list .menu-item:hover > a {
    color: black;
}

.product-intro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
    max-height: 650px;
}

.slider {
    height: 433px;
    background-image:url(./images/slider_1.jpg);
}

.branch-name {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    grid-row: 1/4;
    grid-column: 1/2;
}

.img2 {
    grid-row: 1/4;
}

.img3 {
    grid-column: 3/5;
    grid-row: 1/5;
}

.img4 {
    grid-column: 1/3;
    grid-row: 4/9;
}

.img5 {
    grid-column: 3/5;
    grid-row: 5/9;
}

.heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}

.product-list {
    display: flex;
    gap: 10px;
}

.product-item .new-product-img {
    max-height: 250px;
}

.product-item .content {
    max-height: 200px;
}

.product-item .content .title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.product-item .btn-detail {
    background-color: rgb(233, 21, 21);
    color: white;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 60px;
    cursor: pointer;
    margin-block: 25px;
}

.product-item .btn-detail:hover {
    background-color: rgb(255, 0, 0);
    color: black;
}

.banner {
    background-image: url(./images/nature.jpg);
    height: 300px;
}

.banner .discount {
    background-color: red;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    opacity: 0.4;
    position: relative;
    top: 25px;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content {
    position: relative;
    bottom: 175px;
    left: 325px;
    text-align: center;
    color: white;
    max-width: 200px;
}

.title,
.digital,
.description {
    margin: 0;
}

.content .title {
    font-size: 20px;
}

.content .digital {
    font-size: 80px;
}

.content .description {
    font-size: 18px;
}

.services {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.services .service {
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.service .title {
    font-size: 20px;
}

.footer {
    background-color: black;
    padding: 20px;
}

.footer .title {
    font-weight: bold;
    font-size: 20px;
    
}

.footer .title,
.footer .contact-infor {
    color:white;
    text-align: center;
    margin: 0;
}