.tb {
    width: 100%;
}

.tb, .tb th, .tb td {
    height: 70.5px;
    border: 1px solid black;
}

.price, .cold-type-only, .black-tea, .fruit-tea {
    text-align: center;
}

.cold-status, .green-tea {
    text-align: right;
}

td {
    position: relative;
    padding-inline: 15px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

