.about__item {
  max-width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about__shape {
  border: 1px solid var(--secondary);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  line-height: 110px;
  cursor: pointer;
}

.about__shape:hover {
  background-color: var(--bg-color-primary);
}

.about__shape:hover > .about__icon {
  color: var(--light);
}

.about__icon {
  font-size: 30px;
}

.about__description {
  color: var(--text-color-secondary);
}
