.btn-more a {
    background-color: var(--bg-color-primary);
    font-size: var(--font-size-sm);
    color: var(--text-color-light);
    font-weight: var(--font-weight-bold);
    padding: 4px 25px;
    width: 94px;
    margin-inline: auto;
    cursor: pointer;
}

.btn-more:hover > a {
    background-color: var(--bg-color-hover);
    color: var(--text-color-dark);
}

