.service {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.service .service-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.service .service-title {
    font-weight: bold;
}