.heading {
    text-align: center;
    background-color: rgb(190, 24, 24);
    color: white;
}

.line {
    height: 3px;
    background-color: black;
}

.coffee-area .content {
    color: rgb(190, 24, 24);
}

.tea-area .content {
    text-align: right;
    color: blue
}

.coffee-area .title, .tea-area .title {
    text-align: center;
}

.coffee-area .content, .tea-area .content {
    margin: 0;
}