.about {
  margin: 70px 90px;
}
.about__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__content-title {
  color: var(--text-color-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  padding: 20px;
}

.about__content-description {
  font-size: var(--font-size-sm);
  line-height: 29px;
}

.about__content-title,
.about__content-description {
  text-align: center;
}
