.portfolio {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 520px;
  margin-bottom: 70px;
}

.portfolio__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 15px;
}
