.carousel-container {
  padding: 0;
}

.carousel-caption {
  bottom: 16.5rem !important;
}

.carousel-caption h4 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-black);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.carousel-indicators {
  gap: 10px;
}

.carousel-caption p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: 35px;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel-control-prev-icon {
  background: url("https://p.w3layouts.com/demos_new/template_demo/01-12-2017/housing-demo_Free/524021621/web/images/left-arrow.png");
}

.carousel-control-next-icon {
  background: url("https://p.w3layouts.com/demos_new/template_demo/01-12-2017/housing-demo_Free/524021621/web/images/right-arrow.png");
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 25px;
}
