.subscribe__content {
  gap: 30px;
}

.subscribe__description {
  color: var(--text-color-light);
  max-width: 810px;
  text-align: center;
  line-height: 21.5px;
}

.subscribe__input {
  background-color: var(--light);
  padding: 15px;
  width: 540px;
}

.subscribe__btn {
  background-color: var(--dark);
  color: var(--text-color-light);
  font-size: var(--font-size-sm);
  padding: 6px 50px;
  border: 1px solid var(--bg-color-dark);
}

.subscribe__btn:hover {
  background-color: var(--bg-color-secondary);
  color: var(--text-color-dark);
}
