.footer {
    background-color: rgb(244, 248, 255);
    padding: 50px 40px;
}

.footer .content-area {
    display: flex;
    gap: 20px;
}

.content-area .content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content .title {
    font-weight: bold;
}
