.btn-learn-more {
  background-color: var(--bg-color-secondary);
  color: var(--text-color-light);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  border: 1px solid var(--light);
  border-radius: 5px;
  line-height: 21px;
  box-sizing: content-box;
  width: 96.5px;
  height: 21px;
  padding: 11px 25px;
  text-transform: uppercase;
  transition: all ease 0.5s;
  display: flex;
  justify-content: center;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

.btn-learn-more:hover {
  color: var(--text-color-dark);
  background-color: var(--bg-color-light);
  border: 1px solid var(--secondary);
  border-radius: 5px;
}
