.team__item {
  position: relative;
  border: none;
  border-radius: 0;
}

.team__item > img {
  border-radius: 0;
}

.team__item-text {
  background-color: var(--bg-color-secondary);
  color: var(--text-color-light);
  width: 100%;
  padding: 25px;
  position: absolute;
  bottom: 0;
}

.team__item:hover > .team__item-content {
  display: block;
}

.team__item-content {
  background-color: black !important;
  position: absolute;
  padding: 30px;
  height: 100%;
  gap: 10px;
}

.team__item-text > h5,
.team__item-title > h5 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 25.2px;
}

.team__item-text > p,
.team__item-title > p,
.team__item-content > .team__item-description {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: 28px;
}

.team__item-title > h5 {
  color: var(--text-color-secondary);
}

.team__item-title > p,
.team__item-content > .team__item-description {
  color: var(--text-color-light);
}

.team__contact {
  padding-top: 10px;
}

.team__contact-detail {
  width: 35px;
  height: 35px;
  border: 1px solid var(--light);
  transition: ease 0.5s;
}

.team__contact-detail > i {
  color: var(--light);
}

.team__contact-detail:hover {
  border: 1px solid var(--secondary);
}

.team__contact-detail:hover > i {
  color: var(--secondary);
}

.team__contact {
  gap: 15px;
}
