.testimonials__content {
  background-color: #ffffff80;
  color: var(--text-color-dark);
  border: 4px solid var(--secondary);
  width: 100%;
  min-height: 205px;
  gap: 20px;
  padding: 30px;
  text-align: center;
}

.testimonials__description > i {
  color: #2cbeff;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-black);
  padding: 0 10px;
}
