.footer {
    background-color: var(--bg-color-secondary);
    padding: 50px 40px;
}

.footer .content-area {
    display: flex;
    gap: 20px;
}

.content-area .content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content .title {
    font-weight: var(--font-weight-bold);
}

.content p a {
    cursor: pointer;
}
